@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
/*@import "components/form_field";

/* Sections */
/*@import "section/registration_form";

/* Pages / Views */
/*@import "pages/registration"; */



* {box-sizing: border-box;}
//* {border: 1px solid red;}  

.row {
	/* == CLEARFIX == */
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	
	&:after {
		@extend .row:before;
	}
}

/* ========= BODY ===========*/
body {
	margin: 0;
	padding: 0;
	section > div {
		margin: 10px;
	}

	h1, h3 {
		font: $pageHeader-font;
		text-transform: uppercase;
		color: $headers-color;
	}
	
	h2 {
		font: $sectionHeader-font;
		color: $headers-color;
	}

	h3 {
		font: $compoHeader-font;
	}

	p {
		font: $text-font;
		color: $text-color;
	}

	a {
		&.largeLink {
			font: $largeLink-font;
		}
		&.smallLink {
			font: $smallLink-font;
		}
		color: $link-color;
		&:hover {
			color: $orangeBtn-color;
		}
		text-decoration: none;
	}

	.icon {
		display: inline-block;
		background-color: $link-color;   
		-webkit-mask-size: cover;
		mask-size: cover; 
		&:hover{
			background-color: $orangeBtn-color;
		}
	}

	.show {
		@extend .icon;
		width: 13px;
		height: 13px;
		-webkit-mask: url(/images/show.svg) no-repeat 100% 100%;
		mask: url(/images/show.svg) no-repeat 100% 100%;  
	} 

	.links {
		@extend .icon;
		width: 16px;
		height: 8px;
		-webkit-mask: url(/images/links.svg) no-repeat 100% 100%;
		mask: url(/images/links.svg) no-repeat 100% 100%;  
	}

	.keyPassword {
		@extend .icon;
		width: 21px;
		height: 12px;
		-webkit-mask: url(/images/password.svg) no-repeat 100% 100%;
		mask: url(/images/password.svg) no-repeat 100% 100%;
	}
	
	span, .btn a {
		margin: 1px;
		height: 27px;
		display: flex;
		color: $btnFont-color;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		&.text-color {
			background-color: $text-color;
		}
		&.greyBtn-color {
			background-color: $greyBtn-color;
		}
		&.greyBtnHover-color {
			background-color: $greyBtnHover-color;
		}
		&.disabledBtn-color {
			background-color: $disabledBtn-color;
		}
		&.color5 {
			background-color: $color5;
		}
		&.orangeBtnHover-color {
			background-color: $orangeBtnHover-color;
		}
		&.orangeBtn-color {
			background-color: $orangeBtn-color;
		}
		&.greenCheckBox-color {
			background-color: $greenCheckBox-color;
		}
		&.positiveNotificationHover-color {
			background-color: $positiveNotificationHover-color;
		}
		&.positiveNotification-color {
			background-color: $positiveNotification-color;
		}
		&.negativeNotificationHover-color {
			background-color: $negativeNotificationHover-color;
		}
		&.negativeNotification-color {
			background-color: $negativeNotification-color;
		}
		&.link-color {
			background-color: $link-color;
		}
		&.redBorderForm-color {
			background-color: $redBorderForm-color;
		}
		&.circleTab-color {
			background-color: $circleTab-color;
		}
	}

	.checkBox {
		min-width: 40px;
		height: 44px;
		font: $text-font;
		color: $text-color;
		text-transform: none;
		justify-content: left;
		& > .show {
			display: none;
		}
		& > input {
			margin: 0 10px;
			width: 18px;
			height: 18px;
			&[type="checkbox"] {
				background-color: $btnFont-color;
				border: 1px solid $disabledBtn-color;
				border-radius: 0;
				&:checked {
					border: none;
					background-color: $greenCheckBox-color;
					color: $btnFont-color;
				}	
			}
		}
		&:hover {
			background-color: $bgCheckBoxHover;
			border: 1px solid $greenCheckBox-color;
			& > .show {
				margin: 0 10px;
				display: flex;
				justify-content: right;
				align-items: center;
			}
		}
	}

	.btn {
		margin: 10px 0;
		min-width: 90px;
		height: 40px;
		border-radius: 3px;
		border: none;
		a {
			width: 100%;
			height:100%;
			text-transform: none;
			font: $btn-font;
		}
	}

	.greyBtn {
		@extend .btn;
		background-color: $greyBtn-color;
		&:hover {
			background-color: $greyBtnHover-color;
		}
	}
	
	.orangeBtn {
		@extend .btn;
		background-color: $orangeBtn-color;
		&:hover {
			background-color: $orangeBtnHover-color;
		}
	}
	
	.disabledBtn {
		@extend .btn;
		background-color: $disabledBtn-color;
		.links {
			margin: 0 15px 0 0;
			background-color: $btnFont-color;
			//justify-content: flex-end;
		}
		&:hover, a:hover {
			cursor: default;
		}
	}

	.colorTabs {
		margin: 0;
		width: 100%;
		padding: 0;
		display: -webkit-flex;
		display: flex;
		list-style-type: none;
		justify-content: left;
		align-items: center;
		flex-wrap: wrap;
		li {
			margin: 0 10px 0 0;
			min-width: 40px;
			height: 40px;
			background-color: $bgTab-color;
			border-radius: 3px;
			a {
				padding: 0 10px 0 0;
				width: 100%;
				height:100%;
				font: $tabs-font;
				color: $headers-color;
				display: flex;
				align-items: center;
				justify-content: center;
				.circleTab {
					margin: 5px 10px;
					width: 17px;
					height: 17px;
					display: inline-flex;
					background-color: $circleTab-color;
					border-radius: 50%;
				}
			}

			&.active {
				background-color: $btnFont-color;
				a {
					cursor: default;
				}
			}

		}
	}

	.inputs {
		min-width: 40px;
		min-height: 40px;
		padding: 15px;
		font: $textInput-font;
		color: $headers-color;
		border-radius: 3px;
		border: 1px solid $disabledBtn-color;
		&:hover {
			border: 1px solid $greyBorderForm-color;
			color: $text-color;
		}
		&:focus {
			color: $text-color;
			border: 1px solid $disabledBtn-color;
		}
	}

	.textArea {
		@extend .inputs;
		min-width: 150px;
		min-height: 120px;		
	}

	.textInput, .passwordInput {
		margin: 10px 0;
		height: auto;
		width: auto;
		min-height: 40px;
		justify-content: flex-start;
		color: $headers-color;
		& > input {
			padding: 0 15px;
			@extend .inputs;
			
		}
	}

	.passwordInput {
		position:relative;
		& > input {
			padding: 0 15px 0 45px;
			&:hover {
				& > .keyPassword {
					background-color: $text-color;
				}
			}
		}
		& > .keyPassword {
			margin: 0 15px;
			position:absolute;
			background-color: $headers-color;
		}
	}
}





.container {
	margin: 0 auto;
	width: 100%;
    max-width: 1200px;
    display: flex;
}


/* ====== GRID ====== */

[class*="col-"] {
	float: left;
	min-height: 1px;
//	padding: 5px;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.col-offset-1 {
	margin-left: 8.33%;
}

.col-offset-2 {
	margin-left: 16.66%;
}

.col-offset-3 {
	margin-left: 25%;
}

.col-offset-4 {
	margin-left: 33.33%;
}

.col-offset-5 {
	margin-left: 41.66%;
}

.col-offset-6 {
	margin-left: 50%;
}

.col-offset-7 {
	margin-left: 58.33%;
}

.col-offset-8 {
	margin-left: 66.66%;
}

.col-offset-9 {
	margin-left: 75%;
}

.col-offset-10 {
	margin-left: 83.33%;
}

.col-offset-11 {
	margin-left: 91.66%;
}

.col-offset2-1 {
	margin-right: 8.33%;
}

.col-offset2-2 {
	margin-right: 16.66%;
}

.col-offset2-3 {
	margin-right: 25%;
}

.col-offset2-4 {
	margin-right: 33.33%;
}

.col-offset2-5 {
	margin-right: 41.66%;
}

.col-offset2-6 {
	margin-right: 50%;
}

.col-offset2-7 {
	margin-right: 58.33%;
}

.col-offset2-8 {
	margin-right: 66.66%;
}

.col-offset2-9 {
	margin-right: 75%;
}

.col-offset2-10 {
	margin-right: 83.33%;
}

.col-offset2-11 {
	margin-right: 91.66%;
}

/* ======= RWD ========= */

@media (max-width: 1199px) {
	/* For desktop: */
    .col-m-1 {
    	width: 8.33%;
    }
    
    .col-m-2 {
    	width: 16.66%;
    }
    
    .col-m-3 {
    	width: 25%;
    }
    
    .col-m-4 {
    	width: 33.33%;
    }
    
    .col-m-5 {
    	width: 41.66%;
    }
    
    .col-m-6 {
    	width: 50%;
    }
    
    .col-m-7 {
    	width: 58.33%;
    }
    
    .col-m-8 {
    	width: 66.66%;
    }
    
    .col-m-9 {
    	width: 75%;
    }
    
    .col-m-10 {
    	width: 83.33%;
    }
    
    .col-m-11 {
    	width: 91.66%;
    }
    
    .col-m-12 {
    	width: 100%;
    }
	
	.container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	/* For tablets: */
    .col-s-1 {
    	width: 8.33%;
    }
    
    .col-s-2 {
    	width: 16.66%;
    }
    
    .col-s-3 {
    	width: 25%;
    }
    
    .col-s-4 {
    	width: 33.33%;
    }
    
    .col-s-5 {
    	width: 41.66%;
    }
    
    .col-s-6 {
    	width: 50%;
    }
    
    .col-s-7 {
    	width: 58.33%;
    }
    
    .col-s-8 {
    	width: 66.66%;
    }
    
    .col-s-9 {
    	width: 75%;
    }
    
    .col-s-10 {
    	width: 83.33%;
    }
    
    .col-s-11 {
    	width: 91.66%;
    }
    
    .col-s-12 {
    	width: 100%;
    }
}



