@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
/*@import "components/form_field";

/* Sections */
/*@import "section/registration_form";

/* Pages / Views */
/*@import "pages/registration"; */



* {box-sizing: border-box;}
//* {border: 1px solid red;}  

.row {
	/* == CLEARFIX == */
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	
	&:after {
		@extend .row:before;
	}
}

/* ========= BODY ===========*/
body {
	margin: 0;
	padding: 0;
	section > div {
		margin: 10px;
	}

	h1, h3 {
		font: $pageHeader-font;
		text-transform: uppercase;
		color: $headers-color;
	}
	
	h2 {
		font: $sectionHeader-font;
		color: $headers-color;
	}

	h3 {
		font: $compoHeader-font;
	}

	h4 {
		margin: 20px 0 5px 0;
		font: $nameUser-font;
		color: $text-color;
	}

	p {
		font: $text-font;
		color: $text-color;
	}

	a {
		&.largeLink {
			font: $largeLink-font;
		}
		&.smallLink {
			font: $smallLink-font;
		}
		color: $link-color;
		&:hover {
			color: $orangeBtn-color;
		}
		text-decoration: none;
	}

	.icon {
		display: inline-block;
		background-color: $link-color;   
		-webkit-mask-size: cover;
		mask-size: cover; 
		&:hover{
			background-color: $orangeBtn-color;
		}
	}

	.show {
		@extend .icon;
		width: 13px;
		height: 13px;
		-webkit-mask: url('/images/show.svg') no-repeat 100% 100%;
		mask: url('/images/show.svg') no-repeat 100% 100%;  
	} 

	.links {
		@extend .icon;
		width: 16px;
		height: 8px;
		-webkit-mask: url('/images/links.svg') no-repeat 100% 100%;
		mask: url('/images/links.svg') no-repeat 100% 100%;  
	}

	.keyPassword {
		@extend .icon;
		width: 21px;
		height: 12px;
		-webkit-mask: url('/images/password.svg') no-repeat 100% 100%;
		mask: url('/images/password.svg') no-repeat 100% 100%;
	}

	.calendar {
		@extend .icon;
		width: 13px;
		height: 13px;
		-webkit-mask: url('/images/calendar.svg') no-repeat 100% 100%;
		mask: url('/images/calendar.svg') no-repeat 100% 100%;
	}

	.negative {
		@extend .icon;
		width: 15px;
		height: 15px;
		-webkit-mask: url('/images/negative.svg') no-repeat 100% 100%;
		mask: url('/images/calendar.svg') no-repeat 100% 100%;
	}

	.positive {
		@extend .icon;
		width: 15px;
		height: 15px;
		-webkit-mask: url('/images/positive.svg') no-repeat 100% 100%;
		mask: url('/images/positive.svg') no-repeat 100% 100%;
	}

	.close {
		@extend .icon;
		width: 12px;
		height: 12px;
		-webkit-mask: url('/images/close.svg') no-repeat 100% 100%;
		mask: url('/images/close.svg') no-repeat 100% 100%;
	}

	.notification {
		@extend .icon;
		width: 18px;
		height: 20px;
		-webkit-mask: url('/images/notification.svg') no-repeat 100% 100%;
		mask: url('/images/notification.svg') no-repeat 100% 100%;
	}
	


	span, .btn a {
		margin: 1px;
		height: 27px;
		display: flex;
		color: $btnFont-color;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		&.text-color {
			background-color: $text-color;
		}
		&.greyBtn-color {
			background-color: $greyBtn-color;
		}
		&.greyBtnHover-color {
			background-color: $greyBtnHover-color;
		}
		&.disabledBtn-color {
			background-color: $disabledBtn-color;
		}
		&.bgTopButton-color {
			background-color: $bgTopButton-color;
		}
		&.orangeBtnHover-color {
			background-color: $orangeBtnHover-color;
		}
		&.orangeBtn-color {
			background-color: $orangeBtn-color;
		}
		&.greenCheckBox-color {
			background-color: $greenCheckBox-color;
		}
		&.positiveNotificationHover-color {
			background-color: $positiveNotificationHover-color;
		}
		&.positiveNotification-color {
			background-color: $positiveNotification-color;
		}
		&.negativeNotificationHover-color {
			background-color: $negativeNotificationHover-color;
		}
		&.negativeNotification-color {
			background-color: $negativeNotification-color;
		}
		&.link-color {
			background-color: $link-color;
		}
		&.redBorderForm-color {
			background-color: $redBorderForm-color;
		}
		&.circleTab-color {
			background-color: $circleTab-color;
		}
	}

	form {
		.inputContainer {
			padding-left: 38px;
			margin-bottom: 10px;
			min-width: 40px;
			height: 44;
			display: flex;
			position: relative;
			cursor: pointer;
			font: $text-font;
			justify-content: space-between;   
			align-items: center;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			/* Hide the browser's default checkbox */
			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				
				/* When the checkbox is checked, add a green background */
				&:checked ~ .checkmark {
					background-color: $greenCheckBox-color;
					border: 1px solid $greenCheckBox-color;
					
					/* Show the checkmark when checked */
					&:after {
						display: block;
					}
				}
			}

			/* Create a custom checkbox */
			.checkmark {
				margin: 11px 10px;
				position: absolute;
				top: 2;
				left: 0;
				height: 18px;
				width: 18px;
				background-color: $btnFont-color;
				border: 1px solid $disabledBtn-color;

				/* Create the checkmark/indicator (hidden when not checked) */
				&:after {
					content: "";
					position: absolute;
					display: none;

					/* Style the checkmark/indicator */
					left: 5px;
					top: 1px;
					width: 4px;
					height: 9px;
					border: solid white;
					border-width: 0 3px 3px 0;
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}

			}

			& > .show {
				display: none;	
			}

			&:hover {
				background-color: $bgCheckBoxHover;
								
				& > .show {
					margin: 0 10px;
					display: inline-flex;
				}
			}

		}

		textarea, input, .inputPassContainer, .inputDateContainer {
			margin: 0 0 10px 0;
			padding: 15px;
			min-width: 150px;
			min-height: 120px;
			font: $textInput-font;
			color: $text-color;
			border-radius: 3px;
			border: 1px solid $disabledBtn-color;
			&:hover {
				border: 1px solid $greyBorderForm-color;
				color: $text-color;
			}
			&:focus {
				color: $text-color;
				border: 1px solid $disabledBtn-color;
				outline: none;
			}
			&[placeholder]{
				color: $headers-color;
				&:hover { 
					color: $text-color; 
				}
			}
		}

		input {
			min-width: 40px;
			min-height: 40px;
		}

		.inputPassContainer, .inputDateContainer {
			padding: 0 15px;
			width: auto;
			height: auto;
			min-width: 40px;
			min-height: 40px;
			display: flex;
			cursor: default;
			font: $text-font;
			justify-content: start;   
			align-items: center;

			input {
				margin: 0;
				border: none;
				
				&[name=endData] {
					border-left: 1px solid $disabledBtn-color;
				}
			}

			.keyPassword, .calendar {
				background-color: $headers-color;
			}

			&:hover {
				.keyPassword, .calendar {
					background-color: $text-color;
				}	
			}

		}

		.invalid {
			border: 2px solid $redBorderForm-color;
		}

		.inputDateContainer {
			padding: 0 10px;
			input {
				margin: 5px 0;
				padding: 0 10px;
				&[type=date]::-webkit-inner-spin-button, &[type=date]::-webkit-outer-spin-buttonm, &[type=date]::-webkit-calendar-picker-indicator {
					display: none;
					-webkit-appearance: none;
				}
			}
		}
	}

	.btn {
		margin: 10px 0;
		min-width: 90px;
		height: 40px;
		border-radius: 3px;
		border: none;
		a {
			width: 100%;
			height:100%;
			text-transform: none;
			font: $btn-font;
		}
	}

	.greyBtn {
		@extend .btn;
		background-color: $greyBtn-color;
		&:hover {
			background-color: $greyBtnHover-color;
		}
	}
	
	.orangeBtn {
		@extend .btn;
		background-color: $orangeBtn-color;
		&:hover {
			background-color: $orangeBtnHover-color;
		}
	}
	
	.disabledBtn {
		@extend .btn;
		background-color: $disabledBtn-color;
		.links {
			margin: 0 15px 0 0;
			background-color: $btnFont-color;
			//justify-content: flex-end;
		}
		&:hover, a:hover {
			cursor: default;
		}
	}

	.colorTabs {
		margin: 0;
		width: 100%;
		padding: 0;
		display: -webkit-flex;
		display: flex;
		list-style-type: none;
		justify-content: left;
		align-items: center;
		flex-wrap: wrap;
		li {
			margin: 0 10px 0 0;
			min-width: 40px;
			height: 40px;
			background-color: $bgTab-color;
			border-radius: 3px;
			a {
				padding: 0 10px 0 0;
				width: 100%;
				height:100%;
				font: $tabs-font;
				color: $headers-color;
				display: flex;
				align-items: center;
				justify-content: center;
				.circleTab {
					margin: 5px 10px;
					width: 17px;
					height: 17px;
					display: inline-flex;
					background-color: $circleTab-color;
					border-radius: 50%;
				}
			}

			&.active {
				background-color: $btnFont-color;
				a {
					cursor: default;
				}
			}

		}
	}

	.positiveNotification, .negativeNotification {
		position: relative;
		margin: 2px 0;
		padding: 0 15px;
		height: 40px;
		display: flex;
		background-color: $positiveNotification-color;
		justify-content: space-between;
		align-items: center;
		
		& > div {
			margin: 0 0 0 5px;
			
			display: inline-flex;
			background-color: $btnFont-color;
			&.positive, &.negative {
				position: absolute;
			}
		}

		& > P {
			margin: 0 15px;
			padding: 0 0 0 10px;
			color: $btnFont-color;
		}

		&:hover {
			background-color: $positiveNotificationHover-color;
		}
	}

	.negativeNotification {
		background-color: $negativeNotification-color;

		&:hover {
			background-color: $negativeNotificationHover-color;
		}
	}

	table {
		thead {
			tr {
				padding: 0 10px;
				justify-content: left;
				border: none;
				&:hover {
					background-color: transparent;
				}
				th {
					padding: 8px;
					width: calc(100%/2);
					font: $thTable-font;
					color: $headers-color;
					border-radius: 3px;
					text-align: left;
					.arrowUp {
						display: none;
					}

					&:hover {
						background-color: $bgTableHover-color;
						color: $text-color;

						.arrowUp {
							margin: 0 0 0 10px;
							display: inline-flex;
							width: 6px;
							height: 6px;
							border: solid $tableArrowUp-color;
							cursor: pointer;
							border-width: 1px 0 0 1px;
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
						}
					}
				}
			}
		}

		tr {
			padding: 0 18px;
			min-width: 300px;
			height: 58px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $disabledBtn-color;
			border-top: 1px solid $disabledBtn-color;

			&:hover {
				background-color: $bgTableHover-color;
			}

			&.digit {
				padding: 0 0 10px 0;
				border-top: none;
				align-items: flex-end;
				td:nth-child(2) {
					color: $tableDigit-color;
					font: $largeLink-font;
				}
			}
			
			td:first-child {
				color: $headers-color;
				font: $tablesLineHeader-font;
			}

			td:nth-child(2) {
				font: $largeLink-font;
			}
			
		}

		tbody {
			tr.sorted {
				width: 100%;
				display: flex;
				justify-content: left;

				& > td {
					width: calc(100%/2);
					font: $tdTableSorted-font;
					color: $text-color;
				}

			}
		}
	}

	%arrowBody {
		margin: 14px 0;
		padding: 0 0 0 10px;
		display: inline-flex;
		border-radius: 0;
		width: 10px;
		height: 10px;
		border: solid $tableArrowUp-color;
		border-width: 1px 0 0 1px;
	}

	.pagination {
		width: 400px;
		display: flex;
		justify-content: center;
		align-content: center;
		
		& > a {
			padding: 10px 15px;
			display: inline-flex;
			justify-content: center;
			align-content: center;
			border-radius: 3px;
			&.active {
				color: $headers-color;
				font: $tablesLineHeader-font;
				background-color: $bgTableHover-color;
			} 

			
			
		}
		
		.arrowLeft {
			@extend %arrowBody;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		.arrowRight {
			@extend %arrowBody;
			-webkit-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			transform: rotate(135deg);
		}
		
	}

	%status {
		padding: 5px;
		height: 20px;
		display: inline-flex;
		text-transform: none;
		font: $textInput-font;
		border-radius: 3px;
	}

	.statusOn {
		@extend %status;
		background-color: $greenCheckBox-color;
	}

	.statusOff {
		@extend %status;
		background-color: $disabledBtn-color;
	}

	%bubble {
		
		margin: 20px 0;
		padding: 0 15px;
		position: relative;
		font: $text-font;
		border-radius: 3px;
	}

	.bubble1 {
		@extend %bubble;
		color: $text-color;
		background-color: $bgTab-color;
		border-top-left-radius: 0;
	}

	.bubble2 {
		@extend %bubble;
		color: $btnFont-color;
		background-color: $greyBtnHover-color;
		border-bottom-right-radius: 0;
	}

	%bubbleArrow {
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;	
	}

	.bubbleArrowTop:before {
		@extend %bubbleArrow;
		border-left: 5px solid $bgTab-color;
		border-right: 5px solid transparent;
		border-top: 5px solid transparent;
		border-bottom: 5px solid $bgTab-color;
		left: 0;
		top: -9px;
	}

	.bubbleArrowBottom:before {
		@extend %bubbleArrow;
		border-left: 5px solid transparent;
		border-right: 5px solid $greyBtnHover-color;
		border-top: 5px solid $greyBtnHover-color;
		border-bottom: 5px solid transparent;
		right: 0;
		bottom: -9px;
	}

	.topMenuButton {
		width: 100px;
		position: relative;
		display: flex;
		border-bottom: 2px solid $disabledBtn-color;
		
		
		.circleButton {
			position: absolute;
			top: 18px;
			left: 51px;
			width: 8px;
			height: 8px;
			z-index: 1;
			border-radius: 50%;
			background-color: $orangeBtn-color;
		}

		& > div {
			margin: 0 20px;
			padding: 20px;
			height: 60px;
			border-left: 2px solid $disabledBtn-color;
			border-right: 2px solid $disabledBtn-color;
			
			.notification {
				height: 20px;
				background-color: $headers-color; 	
			}

			&:hover {
				background-color: $bgTopButton-color;
				cursor: pointer;
			}
		}
		
	}
} 





.container {
	margin: 0 auto;
	width: 100%;
    max-width: 1400px;
    display: flex;
}


/* ====== GRID ====== */

[class*="col-"] {
	float: left;
	min-height: 1px;
//	padding: 5px;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.col-offset-1 {
	margin-left: 8.33%;
}

.col-offset-2 {
	margin-left: 16.66%;
}

.col-offset-3 {
	margin-left: 25%;
}

.col-offset-4 {
	margin-left: 33.33%;
}

.col-offset-5 {
	margin-left: 41.66%;
}

.col-offset-6 {
	margin-left: 50%;
}

.col-offset-7 {
	margin-left: 58.33%;
}

.col-offset-8 {
	margin-left: 66.66%;
}

.col-offset-9 {
	margin-left: 75%;
}

.col-offset-10 {
	margin-left: 83.33%;
}

.col-offset-11 {
	margin-left: 91.66%;
}

.col-offset2-1 {
	margin-right: 8.33%;
}

.col-offset2-2 {
	margin-right: 16.66%;
}

.col-offset2-3 {
	margin-right: 25%;
}

.col-offset2-4 {
	margin-right: 33.33%;
}

.col-offset2-5 {
	margin-right: 41.66%;
}

.col-offset2-6 {
	margin-right: 50%;
}

.col-offset2-7 {
	margin-right: 58.33%;
}

.col-offset2-8 {
	margin-right: 66.66%;
}

.col-offset2-9 {
	margin-right: 75%;
}

.col-offset2-10 {
	margin-right: 83.33%;
}

.col-offset2-11 {
	margin-right: 91.66%;
}

/* ======= RWD ========= */

@media (max-width: 1199px) {
	/* For desktop: */
    .col-m-1 {
    	width: 8.33%;
    }
    
    .col-m-2 {
    	width: 16.66%;
    }
    
    .col-m-3 {
    	width: 25%;
    }
    
    .col-m-4 {
    	width: 33.33%;
    }
    
    .col-m-5 {
    	width: 41.66%;
    }
    
    .col-m-6 {
    	width: 50%;
    }
    
    .col-m-7 {
    	width: 58.33%;
    }
    
    .col-m-8 {
    	width: 66.66%;
    }
    
    .col-m-9 {
    	width: 75%;
    }
    
    .col-m-10 {
    	width: 83.33%;
    }
    
    .col-m-11 {
    	width: 91.66%;
    }
    
    .col-m-12 {
    	width: 100%;
    }
	
	.container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	/* For tablets: */
    .col-s-1 {
    	width: 8.33%;
    }
    
    .col-s-2 {
    	width: 16.66%;
    }
    
    .col-s-3 {
    	width: 25%;
    }
    
    .col-s-4 {
    	width: 33.33%;
    }
    
    .col-s-5 {
    	width: 41.66%;
    }
    
    .col-s-6 {
    	width: 50%;
    }
    
    .col-s-7 {
    	width: 58.33%;
    }
    
    .col-s-8 {
    	width: 66.66%;
    }
    
    .col-s-9 {
    	width: 75%;
    }
    
    .col-s-10 {
    	width: 83.33%;
    }
    
    .col-s-11 {
    	width: 91.66%;
    }
    
    .col-s-12 {
    	width: 100%;
    }
}
