@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
/*@import "components/form_field";

/* Sections */
/*@import "section/registration_form";

/* Pages / Views */


//========= index - left navbar ============
	.leftColumn {
		 
		height: 100vh;
		left: 0;
		top: 0;
		bottom: 0;
		position: fixed;
		background-color: $tableDigit-color;

		.leftNavbar {
			header {
				padding: 15px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				& > img {
					
					&:hover {
						cursor: pointer;
					}
				}
	
				& > input[type="checkbox"] + label {
					font-size: 22px;
					font-weight: 900;
					color: $hamburger-color;
					cursor: pointer;
				}

				& > input[type="checkbox"] {
					display: none;
				}
			}

			ul {
				margin: 0;
    			padding: 0;
				list-style-type: none;
    
				li {
					width: 100%;
					border-left: 4px solid $tableDigit-color;
					a {
						display: flex;
						width: 100%;
						height: auto;
						color: $hamburger-color;
						align-items: center;
						font: $text-font;

						i {
							margin: 0 15px;
							width: 16px;
							background-color: $hamburger-color;
						}
					}

					&:hover {
						border-left: 4px solid $orangeBtn-color;
						background-color: $bgMainMenuHover;
						a {
							color: $btnFont-color;
							i {
								background-color: $btnFont-color;
							}
						}
					}
				}
			}
		}

		.messanger {
			margin-top: 30px;
			padding-top: 20px;
			border-top: 1px solid $text-color;
			h5 {
				margin: 0 15px 0 19px;
				font: $manager-font;
				color: $manager-color;
				text-transform: uppercase; 
			}

			.contact {
				position: relative;

				& > .circleButton {
					position: absolute;
					top: 2px;
					left: 41px;
					width: 12px;
					height: 12px;
					z-index: 1;
					border-radius: 50%;
					background-color: $greenCheckBox-color;
				}

				& > div {
					display: inline-flex;
					align-items: center;
					img {
						margin: 0 10px;
						border-radius: 50%;
					}

					a {
						margin: 0 5px;
					}
				}
			}

		}
	}
	body {
		background-color: $bgTopButton-color;
	}
	main {
		background-color: $bgTopButton-color;

		.topNavbar {
			// width: 100%;
			height: 60px;
			background-color: $btnFont-color;
			display: flex;
			top: 0;
			right: 0;
			left: 0vw;
			position: fixed;
			justify-content: flex-end;
			border-bottom: 2px solid $disabledBtn-color;

			& > .topMenuButton {
				margin: 0;                  
				border-bottom: none;
				width: auto;

				& > div {
					
					align-items: center;
					border-bottom: 2px solid $disabledBtn-color;
					
					i {
						background-color: $headers-color;
					}
					p {
						margin: 0 20px 0 0;
						color: $walletP-color;
						font: $wallet-font;

					}
					.arrowDown {						
						@extend %arrowBody;
						margin: 14px 0 20px 0;
						padding: 8px 0 0 8px;
						width: 8px;
						height: 8px;
						-webkit-transform: rotate(225deg);
						-ms-transform: rotate(225deg);
						transform: rotate(225deg);
					}
					
					a {
						font: $smallLink-font;
					}

					&.notOnlyIcons {
						padding: 0 20px 0 0;
					}
				}

				&:first-child, &:last-child {
					& > div {
						border-left: 2px solid $disabledBtn-color;
					}
				}

				&:last-child {
					& > div {
						border-right: 2px solid $disabledBtn-color;
					}
				}
			}

		}
// ======= sections ======== 
// ======= section general =======
		#general {
			margin: 75px 15px 15px 15px;
		}
		& > section.subpage {
			margin: 15px;
			padding: 0 0 20px 0;
			
			background-color: $btnFont-color;
			justify-content: center;
			h1 {
				padding: 0 15px;
				border-bottom: 2px solid $disabledBtn-color;
			}

			form {
				padding: 30px 15px;
				width: 100%;
				display: inline-flex;
				border-bottom: 2px solid $disabledBtn-color;
				justify-content: center;
				align-items: center;
				
				.inputDateContainer {
					margin: 0;
					max-width: 325px;
					display: inline-flex;
				}
				 & > .orangeBtn {
				 	margin: 0 15px;
					padding: 0 15px;			
					i {
						background-color: $btnFont-color;
					}	
				 }
			}

			table {
				margin: 20px 0;
			}

			#colorTab3 {
				img {
					margin: 70px 0 10px 0;
					width: 100%;
    				height: auto;
				}
			}
			
		
// ======== section links ===========
					
			table.withLink {
				width: 100%;
				tr {
					display: flex;
					align-items: center;
					
					td {
						flex: 2;

						&:last-child {
							flex: 0;
							display: inline-flex;
							justify-content: flex-end;
							& > a {						
								display: none;
								i {
									margin: 0 10px;
									background-color: $walletP-color;
									&:hover {
										background-color: $orangeBtn-color;
									}
								}
							}
						}
					}
					
					&:hover{
						td:last-child {
							& > a {						
								display: inline-block;
							}
						}
					}	
				}
			}		
		}

		section.sectionLinks {
			form {
				border-bottom: none;
			}
		}
	}



