.index__subpage {
    @extend %subpage;

    &--details, &--payout {
        .scroll-wrapper {
            display: block;
            width: 100%;
            overflow-x: auto;
        }

        .subpage__table {
            padding: 20px;

            &-tbody-tr-td-tdContainer {
                // justify-content: center;
            }
        }

        .subpage__paginationContainer {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
} 