// ======= section general =======
%subpage {
    margin: 15px;
    padding: 0 0 20px 0;
    background-color: $btnFont-color;
    justify-content: center;
}

.index__subpage {
    @extend %subpage;

    &--general {
        margin: 75px 15px 15px 15px;
    }

    .subpage__pageHeader {
        padding: 0 15px;
        border-bottom: 2px solid $disabledBtn-color;
    }

    table {
        margin: 20px 0;
    }
}